.assignmentpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.assignmentpage-assignmentpage {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(219, 231, 230, 1);
}
 
.assignmentpage-rectangle24 {
  top: -64px;
  left: 0px;
  width: 375px;
  height: 165px;
  position: absolute;
  border-radius: 30px;
}
 
.assignmentpage-notify {
  top: 11px;
  left: 29px;
  width: 329px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.assignmentpage-batterythreequarters {
  top: 0px;
  left: 308.2079162597656px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.assignmentpage-wifi {
  top: 0px;
  left: 276.6039733886719px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.assignmentpage-signal {
  top: 0px;
  left: 245px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.assignmentpage-text1 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-text2 {
  top: 60px;
  left: 122px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-playbutton {
  top: 440px;
  left: 524px;
  width: 35px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.assignmentpage-ellipse15 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 32px;
  position: absolute;
}
 
.assignmentpage-sw-miconsduotonearrowleft {
  top: 64px;
  left: 14px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.assignmentpage-rectangle48 {
  top: 119px;
  left: 25px;
  width: 328px;
  height: 147px;
  position: absolute;
  border-radius: 20px;
}
 
.assignmentpage-text3 {
  top: 310px;
  left: 26px;
  color: rgba(3, 117, 124, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-text4 {
  top: 280px;
  left: 26px;
  color: rgba(252, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-text5 {
  top: 393px;
  left: 25px;
  color: rgba(0, 0, 0, 0.38999998569488525);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-rectangle49 {
  top: 412px;
  left: 23px;
  width: 314px;
  height: 53px;
  position: absolute;
  border-radius: 20px;
}
 
.assignmentpage-text6 {
  top: 428px;
  left: 38px;
  color: rgba(0, 0, 0, 0.4699999988079071);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-rectangle50 {
  top: 645px;
  left: 0px;
  width: 375px;
  height: 203px;
  position: absolute;
  border-radius: 25px;
}
 
.assignmentpage-text7 {
  top: 684px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-text8 {
  top: 684px;
  left: 215px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-rectangle51 {
  top: 740px;
  left: 94px;
  width: 175px;
  height: 40px;
  position: absolute;
}
 
.assignmentpage-text9 {
  top: 748px;
  left: 129px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.assignmentpage-sw-miconsduotoneattachment {
  top: 747px;
  left: 240px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.assignmentpage-sw-miconsduotonechevronup {
  top: 655px;
  left: 168px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.assignmentpage-sw-miconsduotonehome1 {
  top: 54px;
  left: 326px;
  width: 41px;
  height: 34px;
  position: absolute;
}
