.figmadesign-revolutpng-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.figmadesign-revolutpng-figmadesign-revolutpng {
  width: 100%;
  height: 2436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-root {
  top: 0px;
  left: 0px;
  width: 1125px;
  height: 2436px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 248, 248, 1);
}
 
.figmadesign-revolutpng-groups10 {
  top: 2172px;
  left: 0px;
  width: 1125px;
  height: 263px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-background1 {
  top: 0px;
  left: 0px;
  width: 1125px;
  height: 263px;
  position: absolute;
}
 
.figmadesign-revolutpng-background2 {
  top: 225px;
  left: 363px;
  width: 400px;
  height: 15px;
  position: absolute;
  border-color: rgba(39, 39, 39, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px 0 0 3px;
}
 
.figmadesign-revolutpng-groups11 {
  top: 3px;
  left: 726px;
  width: 397px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text10 {
  top: 97px;
  left: 146px;
  color: rgba(133, 140, 149, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image10 {
  top: 29px;
  left: 146px;
  width: 56px;
  height: 56px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups12 {
  top: 3px;
  left: 396px;
  width: 336px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text11 {
  top: 97px;
  left: 102px;
  color: rgba(142, 149, 157, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 29.899999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image11 {
  top: 28px;
  left: 137px;
  width: 60px;
  height: 58px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups13 {
  top: 3px;
  left: 0px;
  width: 392px;
  height: 162px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text12 {
  top: 100px;
  left: 184px;
  color: rgba(86, 132, 231, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 28.899999618530273px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image12 {
  top: 30px;
  left: 207px;
  width: 43px;
  height: 54px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups14 {
  top: 597px;
  left: 45px;
  width: 1033px;
  height: 1575px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-groups15 {
  top: 0px;
  left: 0px;
  width: 1033px;
  height: 1575px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-background3 {
  top: 46px;
  left: 0px;
  width: 1033px;
  height: 1511px;
  position: absolute;
  border-radius: 17px;
}
 
.figmadesign-revolutpng-text13 {
  top: 1495px;
  left: 446px;
  color: rgba(72, 121, 225, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 46.099998474121094px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image13 {
  top: 1359px;
  left: 543px;
  width: 55px;
  height: 27px;
  position: absolute;
}
 
.figmadesign-revolutpng-button1 {
  top: 1186px;
  left: 112px;
  width: 808px;
  height: 173px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-background4 {
  top: 5px;
  left: 0px;
  width: 808px;
  height: 165px;
  position: absolute;
  border-radius: 18.5px;
}
 
.figmadesign-revolutpng-groups16 {
  top: 5px;
  left: 9px;
  width: 803px;
  height: 168px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text14 {
  top: 57px;
  left: 151px;
  color: rgba(58, 60, 63, 1);
  width: 578px;
  height: auto;
  position: absolute;
  font-size: 45.900001525878906px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image14 {
  top: 59px;
  left: 72px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.figmadesign-revolutpng-text15 {
  top: 1354px;
  left: 229px;
  color: rgba(136, 142, 150, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 24.200000762939453px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-text16 {
  top: 1261px;
  left: 919px;
  color: rgba(61, 62, 65, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 37.29999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image15 {
  top: 1250px;
  left: 45px;
  width: 70px;
  height: 89px;
  position: absolute;
}
 
.figmadesign-revolutpng-image16 {
  top: 1298px;
  left: 91px;
  width: 80px;
  height: 82px;
  position: absolute;
}
 
.figmadesign-revolutpng-image17 {
  top: 1247px;
  left: 44px;
  width: 72px;
  height: 47px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups17 {
  top: 970px;
  left: 10px;
  width: 1023px;
  height: 216px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text17 {
  top: 129px;
  left: 210px;
  color: rgba(137, 144, 151, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 40.29999923706055px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-text18 {
  top: 61px;
  left: 874px;
  color: rgba(63, 65, 67, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 44.900001525878906px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-text19 {
  top: 61px;
  left: 211px;
  color: rgba(63, 64, 67, 1);
  width: 571px;
  height: auto;
  position: absolute;
  font-size: 45.70000076293945px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image18 {
  top: 78px;
  left: 55px;
  width: 115px;
  height: 106px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups18 {
  top: 690px;
  left: 0px;
  width: 1033px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text20 {
  top: 121px;
  left: 220px;
  color: rgba(140, 147, 155, 1);
  width: 425px;
  height: auto;
  position: absolute;
  font-size: 39.900001525878906px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 56.46171951293945px;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-text24 {
  top: 53px;
  left: 885px;
  color: rgba(134, 142, 150, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 44.900001525878906px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-text25 {
  top: 55px;
  left: 220px;
  color: rgba(57, 59, 62, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 45.400001525878906px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image19 {
  top: 47px;
  left: 51px;
  width: 129px;
  height: 129px;
  position: absolute;
}
 
.figmadesign-revolutpng-image20 {
  top: 613px;
  left: 942px;
  width: 36px;
  height: 8px;
  position: absolute;
}
 
.figmadesign-revolutpng-text26 {
  top: 592px;
  left: 52px;
  color: rgba(139, 146, 154, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 40.599998474121094px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups19 {
  top: -8px;
  left: -3px;
  width: 1039px;
  height: 559px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-groups20 {
  top: 283px;
  left: 52px;
  width: 920px;
  height: 249px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-groups21 {
  top: 0px;
  left: 620px;
  width: 300px;
  height: 249px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text27 {
  top: 185px;
  left: 114px;
  color: rgba(69, 119, 230, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 40.099998474121094px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image21 {
  top: 14px;
  left: 89px;
  width: 145px;
  height: 145px;
  position: absolute;
  border-radius: 71px;
}
 
.figmadesign-revolutpng-groups22 {
  top: 2px;
  left: 312px;
  width: 307px;
  height: 247px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text28 {
  top: 182px;
  left: 64px;
  color: rgba(86, 132, 232, 1);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 40.20000076293945px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image22 {
  top: 12px;
  left: 84px;
  width: 145px;
  height: 145px;
  position: absolute;
  border-radius: 71px;
}
 
.figmadesign-revolutpng-groups23 {
  top: 2px;
  left: 0px;
  width: 311px;
  height: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text29 {
  top: 181px;
  left: 46px;
  color: rgba(73, 123, 230, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 40.900001525878906px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image23 {
  top: 12px;
  left: 83px;
  width: 145px;
  height: 145px;
  position: absolute;
  border-radius: 71px;
}
 
.figmadesign-revolutpng-text30 {
  top: 191px;
  left: 55px;
  color: rgba(65, 67, 69, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 40.599998474121094px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image24 {
  top: 58px;
  left: 867px;
  width: 121px;
  height: 121px;
  position: absolute;
  border-radius: 59px;
}
 
.figmadesign-revolutpng-image25 {
  top: 86px;
  left: 395px;
  width: 72px;
  height: 72px;
  position: absolute;
}
 
.figmadesign-revolutpng-text31 {
  top: 71px;
  left: 57px;
  color: rgba(48, 50, 53, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 79.80000305175781px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups24 {
  top: 437px;
  left: 41px;
  width: 1084px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-groups25 {
  top: 12px;
  left: 954px;
  width: 130px;
  height: 106px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text32 {
  top: 25px;
  left: 51px;
  color: rgba(133, 140, 149, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 37px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups26 {
  top: 11px;
  left: 718px;
  width: 235px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text33 {
  top: 24px;
  left: 56px;
  color: rgba(139, 146, 154, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 41.099998474121094px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups27 {
  top: 10px;
  left: 499px;
  width: 225px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text34 {
  top: 25px;
  left: 51px;
  color: rgba(138, 145, 153, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 40.900001525878906px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups28 {
  top: 1px;
  left: 298px;
  width: 209px;
  height: 117px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text35 {
  top: 35px;
  left: 38px;
  color: rgba(140, 146, 155, 1);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 41.099998474121094px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-button2 {
  top: 0px;
  left: 0px;
  width: 291px;
  height: 116px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-background5 {
  top: 7px;
  left: 7px;
  width: 279px;
  height: 108px;
  position: absolute;
  border-radius: 50px;
}
 
.figmadesign-revolutpng-groups29 {
  top: 4px;
  left: 4px;
  width: 289px;
  height: 113px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text36 {
  top: 33px;
  left: 52px;
  color: rgba(65, 67, 69, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 40.5px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-groups30 {
  top: 264px;
  left: 0px;
  width: 1125px;
  height: 145px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-text37 {
  top: 16px;
  left: 41px;
  width: 1040px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-background6 {
  top: 8px;
  left: 9px;
  width: 1026px;
  height: 108px;
  position: absolute;
  border-radius: 50px;
}
 
.figmadesign-revolutpng-text38 {
  top: 38px;
  left: 134px;
  color: rgba(140, 147, 156, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 40.20000076293945px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image26 {
  top: 35px;
  left: 46px;
  width: 54px;
  height: 54px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups31 {
  top: 114px;
  left: 0px;
  width: 1125px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-image27 {
  top: 54px;
  left: 1016px;
  width: 50px;
  height: 60px;
  position: absolute;
}
 
.figmadesign-revolutpng-image28 {
  top: 57px;
  left: 868px;
  width: 59px;
  height: 54px;
  position: absolute;
}
 
.figmadesign-revolutpng-text39 {
  top: 56px;
  left: 493px;
  color: rgba(53, 55, 58, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 50.70000076293945px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.figmadesign-revolutpng-image29 {
  top: 39px;
  left: 51px;
  width: 90px;
  height: 90px;
  position: absolute;
}
 
.figmadesign-revolutpng-groups32 {
  top: 0px;
  left: 0px;
  width: 1125px;
  height: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.figmadesign-revolutpng-image30 {
  top: 52px;
  left: 1009px;
  width: 73px;
  height: 34px;
  position: absolute;
}
 
.figmadesign-revolutpng-image31 {
  top: 52px;
  left: 948px;
  width: 46px;
  height: 33px;
  position: absolute;
}
 
.figmadesign-revolutpng-image32 {
  top: 52px;
  left: 882px;
  width: 51px;
  height: 33px;
  position: absolute;
}
 
.figmadesign-revolutpng-text40 {
  top: 42px;
  left: 96px;
  color: rgba(24, 24, 24, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 44.70000076293945px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
