.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.profile-profile {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: rgba(219, 231, 230, 1);
}
 
.profile-shape {
  top: -110px;
  left: -100px;
  width: 300px;
  height: 263px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.profile-ellipse2 {
  top: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  position: absolute;
}
 
.profile-ellipse1 {
  top: 63px;
  left: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
}
 
.profile-notify {
  top: 21px;
  left: 26px;
  width: 329px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.profile-batterythreequarters {
  top: 0px;
  left: 308.2079162597656px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.profile-wifi {
  top: 0px;
  left: 276.6039733886719px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.profile-signal {
  top: 0px;
  left: 245px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.profile-text10 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-button {
  top: 712px;
  left: 205px;
  width: 167px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.profile-rectangle1 {
  top: 0px;
  left: 32.17667770385742px;
  width: 105px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-text11 {
  color: rgba(255, 252, 252, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-rectangle58 {
  top: -18px;
  left: 0px;
  width: 375px;
  height: 279px;
  position: absolute;
  border-radius: 40px;
}
 
.profile-text12 {
  top: 223px;
  left: 120px;
  color: rgba(9, 61, 246, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text13 {
  top: 202px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-ellipse11 {
  top: 83px;
  left: 131px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: rgba(43, 141, 147, 1);
  border-style: solid;
  border-width: 3px;
}
 
.profile-sw-miconsduotonearrowleft {
  top: 90px;
  left: 26px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.profile-sw-miconsduotoneedit1 {
  top: 159px;
  left: 213px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.profile-rectangle59 {
  top: 78px;
  left: 272px;
  width: 93px;
  height: 35px;
  position: absolute;
  border-radius: 10px;
}
 
.profile-text14 {
  top: 87px;
  left: 299px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-sw-miconsduotoneedit2 {
  top: 224px;
  left: 247px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.profile-sw-miconsduotonesend1 {
  top: 220px;
  left: 275px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.profile-text15 {
  top: 279px;
  left: 42px;
  color: rgba(0, 0, 0, 0.6100000143051147);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-rectangle31 {
  top: 306px;
  left: 39px;
  width: 133px;
  height: 43px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-text16 {
  top: 317px;
  left: 74px;
  color: rgba(116, 110, 110, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-group1 {
  top: 318px;
  left: 45px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.profile-vector10 {
  top: 19.9999942779541px;
  left: -5.6843418860808015e-14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.profile-vector11 {
  top: 18.959136962890625px;
  left: 9.9447021484375px;
  width: 9px;
  height: 18px;
  position: absolute;
}
 
.profile-vector12 {
  top: 18.95775604248047px;
  left: 1.118377685546875px;
  width: 9px;
  height: 18px;
  position: absolute;
}
 
.profile-vector13 {
  top: 14.6420316696167px;
  left: 3.781982421875px;
  width: 13px;
  height: 13px;
  position: absolute;
}
 
.profile-vector14 {
  top: 14.681788444519043px;
  left: 9.9447021484375px;
  width: 6px;
  height: 13px;
  position: absolute;
}
 
.profile-rectangle32 {
  top: 306px;
  left: 195px;
  width: 133px;
  height: 43px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-text17 {
  top: 318px;
  left: 240px;
  color: rgba(116, 110, 110, 1);
  width: 44px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-group2 {
  top: 318px;
  left: 205px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.profile-vector15 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.profile-vector16 {
  top: 1.4779052734375px;
  left: 9.999164581298828px;
  width: 8px;
  height: 17px;
  position: absolute;
}
 
.profile-vector17 {
  top: 3.68048095703125px;
  left: 3.7159488201141357px;
  width: 6px;
  height: 13px;
  position: absolute;
}
 
.profile-vector18 {
  top: 3.68048095703125px;
  left: 9.9889497756958px;
  width: 6px;
  height: 12px;
  position: absolute;
}
 
.profile-text18 {
  top: 281px;
  left: 308px;
  color: rgba(47, 201, 192, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-rectangle60 {
  top: 364px;
  left: 34px;
  width: 313px;
  height: 114px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-text19 {
  top: 403px;
  left: 178px;
  color: rgba(212, 244, 16, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text20 {
  color: rgba(212, 244, 16, 1);
}
 
.profile-text22 {
  top: 433px;
  left: 176px;
  color: rgba(216, 251, 2, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text23 {
  color: rgba(216, 251, 2, 1);
}
 
.profile-text25 {
  top: 356px;
  left: 48px;
  color: rgba(0, 0, 0, 0.6100000143051147);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-vector19 {
  top: 401px;
  left: 47px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector20 {
  top: 432px;
  left: 50px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector21 {
  top: 432px;
  left: 78px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector22 {
  top: 432px;
  left: 101px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector23 {
  top: 401px;
  left: 74px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector24 {
  top: 401px;
  left: 101px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-vector25 {
  top: 401px;
  left: 126px;
  width: 23px;
  height: 22px;
  position: absolute;
}
 
.profile-text26 {
  top: 778px;
  left: 149px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text27 {
  top: 493px;
  left: 42px;
  color: rgba(0, 0, 0, 0.6100000143051147);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-rectangle61 {
  top: 522px;
  left: 37px;
  width: 309px;
  height: 157px;
  position: absolute;
  border-radius: 15px;
}
 
.profile-rectangle62 {
  top: 532px;
  left: 51px;
  width: 8px;
  height: 140px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle65 {
  top: 531px;
  left: 96px;
  width: 8px;
  height: 140px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle63 {
  top: 532px;
  left: 66px;
  width: 8px;
  height: 140px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle64 {
  top: 532px;
  left: 81px;
  width: 8px;
  height: 140px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle66 {
  top: 555px;
  left: 51px;
  width: 8px;
  height: 116px;
  position: absolute;
  border-radius: 15px;
}
 
.profile-rectangle67 {
  top: 592px;
  left: 66px;
  width: 8px;
  height: 79px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle68 {
  top: 582px;
  left: 81px;
  width: 8px;
  height: 90px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle69 {
  top: 555px;
  left: 97px;
  width: 8px;
  height: 116px;
  position: absolute;
  border-radius: 20px;
}
 
.profile-rectangle70 {
  top: 547px;
  left: 155px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.profile-rectangle72 {
  top: 609px;
  left: 155px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.profile-rectangle73 {
  top: 639px;
  left: 155px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.profile-text28 {
  top: 546px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-rectangle71 {
  top: 577px;
  left: 155px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.profile-text29 {
  top: 574px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text30 {
  top: 605px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.profile-text31 {
  top: 637px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
