.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.register-register {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(219, 231, 230, 1);
}
 
.register-shape {
  top: -110px;
  left: -100px;
  width: 300px;
  height: 263px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.register-ellipse2 {
  top: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  position: absolute;
}
 
.register-ellipse1 {
  top: 63px;
  left: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
}
 
.register-notify {
  top: 21px;
  left: 26px;
  width: 329px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.register-batterythreequarters {
  top: 0px;
  left: 308.2079162597656px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.register-wifi {
  top: 0px;
  left: 276.6039733886719px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.register-signal {
  top: 0px;
  left: 245px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.register-text10 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-text11 {
  top: 228px;
  left: 35px;
  color: rgba(0, 0, 0, 0.5600000023841858);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-button {
  top: 705px;
  left: 46px;
  width: 283px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(12, 58, 214, 0.800000011920929);
}
 
.register-text12 {
  color: rgba(255, 252, 252, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-group1 {
  top: 350px;
  left: 38px;
  width: 299px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.register-rectangle21 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 50px;
  position: absolute;
  border-radius: 100px;
}
 
.register-text13 {
  top: 16px;
  left: 15.84805679321289px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-group2 {
  top: 436px;
  left: 38px;
  width: 299px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.register-rectangle22 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 50px;
  position: absolute;
  border-radius: 100px;
}
 
.register-text14 {
  top: 16px;
  left: 15.84805679321289px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-group4 {
  top: 608px;
  left: 38px;
  width: 299px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.register-rectangle23 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 50px;
  position: absolute;
  border-radius: 100px;
}
 
.register-text15 {
  top: 16px;
  left: 15.84805679321289px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-group3 {
  top: 522px;
  left: 38px;
  width: 299px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.register-rectangle24 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 50px;
  position: absolute;
  border-radius: 100px;
}
 
.register-text16 {
  top: 16px;
  left: 15.84805679321289px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-text17 {
  top: 279px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-text18 {
  top: 778px;
  left: 77px;
  color: rgba(0, 0, 0, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.register-text19 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
 
.register-frame3 {
  top: 635px;
  left: 154px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
