.screenshot-revolutpng-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.screenshot-revolutpng-screenshot-revolutpng {
  width: 100%;
  height: 2436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
 
.screenshot-revolutpng-rectangle {
  top: 0px;
  left: 0px;
  width: 1125px;
  height: 2436px;
  position: absolute;
}
