.sw-miconsduotonedocumentcheck-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.sw-miconsduotonedocumentcheck-dummy-container {
  width: 100%;
  height: 900px;
}
 
.sw-miconsduotonedocumentcheck-sw-miconsduotonedocumentcheck {
  width: 38px;
  height: 38px;
}
